{% extends 'paginas/base.html' %}

{% block title %}Nosotros{% endblock %}
{% block content %}
<br><br><br><br>
<div class="container rounded-lg" style="background-color: #31AAC1;">
    <br>
    <div class="container rounded-lg" style="background-color: #ffffff;">
        <h1>Acerca de Nosotros</h1>
        <p>Somos una empresa dedicada al cuidado y bienestar de las mascotas. Con años de experiencia en el campo, nos esforzamos por brindar los mejores servicios y productos para garantizar la felicidad y salud de tus queridas mascotas.</p>
        <p>Nuestro equipo está formado por profesionales apasionados por los animales, comprometidos con proporcionar un ambiente seguro y amoroso para cada mascota que nos visita.</p>
        <p>¡Confía en nosotros para el cuidado de tus mascotas y únete a nuestra familia hoy mismo!</p>
    </div>
    <br>
</div>

{% endblock %}
